@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0c0a09;
	--foreground: #dcddd7;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0c0a09;
		--foreground: #dcddd7;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-geist-sans);
}

@layer base {
	::-moz-selection {
		@apply bg-white text-background;
	}
	::selection {
		@apply bg-white text-background;
	}

	:root {
		--radius: 0.5rem;
	}
}
