@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0c0a09;
    --foreground: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0c0a09;
        --foreground: #f8f8f8;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-geist-sans);
}

@layer base {
    ::-moz-selection {
        @apply bg-[#F8F8F8] text-background;
    }
    ::selection {
        @apply bg-[#F8F8F8] text-background;
    }

    html {
        @apply scroll-smooth;
    }

    :root {
        --radius: 0.5rem;
    }
}
